<div class="text-center">
    <h1>Welcome to <span class="bg-dark text-white">Wenze's</span> ZBlog!</h1>
    <h2>Explore <span class="bg-dark text-white">more about me</span> on this website</h2>
</div>

<div class="text-center">
    <a routerLink='/aboutme'>
        <div class="card clickable-card" style="display: inline-block">
            <img class="card-img-top card-img-crop" src="../../assets/img/aboutme.jpg" alt="Card image cap">
            <div class="card-body text-dark">
                <h5 class="card-title">About me</h5>
                <p class="card-text">Explore my experience, my education and my skills here.</p>
            </div>
        </div>
    </a>
    
    <a routerLink='/projects'>
        <div class="card clickable-card" style="display: inline-block">
            <img class="card-img-top card-img-crop" src="../../assets/img/project.jpg" alt="Card image cap">
            <div class="card-body text-dark">
                <h5 class="card-title">My projects</h5>
                <p class="card-text">Explore my exciting projects here.</p>
            </div>
        </div>
    </a>
</div>