.list-container {
    padding: 20px 0px;
}

.nav-header {
    background-color: rgba(0,0,0,.03);
}

.nav-sublink {
    display: block;
    margin: 0;
    padding: .5rem 1rem;
}

.active {
    color: #fff;
    background-color: #007bff;
}

a.nav-link {
    border-radius: .25rem;
}