<div class="row list-container">
    <div class="col-2">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link" routerLink='/aboutme/experience' 
                routerLinkActive='active' >Experience</a>
            <a class="nav-link" routerLink='/aboutme/education' 
                routerLinkActive='active'>Education</a>
            <a class="nav-link" routerLink='/aboutme/skill' 
                routerLinkActive='active'>Skills</a>
        </div>
    </div>
    <div class="col-10">
        <div class="tab-content router-outlet" id="v-pills-tabContent">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>